@import "./color.css";

.dashboard {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "sidenav header"
        "sidenav main";
    height: 100vh;
}

.dashboard-header {
    grid-area: header;
}

.dashboard-nav {
    grid-area: sidenav;
}

.dashboard-main {
    grid-area: main;
}
