@import "./color.css";

.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
        "header"
        "main";
    height: 100vh;
}

.dashboard-header {
    grid-area: header;
}

.dashboard-main {
    grid-area: main;
}
